@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    @include transition-property(padding);
    @include transition-duration(300ms);
    @include transition-delay(0);
    @include transition-timing-function(linear);

    &.ease-in {
        @include transition-timing-function(ease-in);
    }

    &.ease-out {
        @include transition-timing-function(ease-out);
    }

    &.ease-in-out {
        @include transition-timing-function(ease-in-out);
    }

    &.green {
        @include transition-property(all);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;

    }
}

body:hover .animation {
    position: absolute;
    animation-name: myanimation;
    animation-duration:5s;
}

/* Gibt es einen Weg um die Keyframes "smoother" aussehen zu lassen, also, dass es nicht so jumpy wirkt? */
@keyframes myanimation {
    0%   {left: 0; top: 0; right: auto; bottom: auto;}
    25%  {left: auto; top: 0; right: 0; bottom: auto;}
    50%  {left: auto; top: auto; right: 0; bottom: 0;}
    75%  {left: 0; top: auto; right: auto; bottom: 0;}
    100% {left: 0; top: 0; right: auto; bottom: auto;}
}

.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

