@import "compass/reset";
@import "compass/css3";

$black: #000;
$errorRed: #d9534f;
$warningYellow: #f0ad4e;
$successGreen: #5cb85c;

$standardMargin: 10px 5px 10px 5px;

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include font-smoothing();
    font-family:'Open Sans', sans-serif;
}

#main {
    width: 990px;
    margin:0 auto;
}

input {
    border: 1px solid $black;
    margin: $standardMargin;
}

input[type="text"], input[type="password"] {
    @extend input;
    padding: 5px;
    width: 180px;
}

input[type="submit"] {
    @extend input;
    border-radius:0;
    background-color:#fafafa;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    margin: $standardMargin;
    font-size:11px;
    font-weight:600;
}

.feedback {
    .error {
        color: $errorRed;
    }
    .warning {
        color: $warningYellow;
    }
    .success {
        color: $successGreen;
    }
}

.strengthIndicator {
    margin: $standardMargin;
    width: 200px;
    padding:5px;
    height: 13px;
    border:1px solid #d3d3d3;
    &::before {
        content: "";
        display: block;
        height: 100%;

        @include transition-property(width);
        @include transition-delay(0);
        @include transition-duration(250ms);
        @include transition-timing-function(linear);
    }
}


.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $errorRed;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $warningYellow;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $successGreen;
}

.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

.error .feedback.error, .warning .feedback.warning, .success .feedback.success {
    display: block;
}


